body{
    height: 100%;
    width : 100%;
    background-color: #e0e0e0;
    margin: 0px;
    font-family:  Ubuntu, sans-serif;

}

#entirediv{
    height: 100%;
    width: 100%;
}

#top {
    height: 60px;
    width: 60px;
    
}

.cityimage{
    height: 150px;
    width: 150px;
    
}

.socialmedia{
    height: 20px;
    width: 22px;
}

header{
    background-color: rosybrown;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-right: 1.5%;
    padding-left: 1%;
    
}



a{
    color: black;
    text-decoration: none;
}


footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0px;
    padding-left: 2%;
    padding-right: 1%;

}
#contact {
    display: flex;
    align-self: center; 
    justify-content: space-between;
      padding-top: 1%;
      padding-bottom: 1%;
     
}


#city{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#image{
    
    /* width: 300px;
    margin: auto; */
    justify-content:space-evenly;
     display: flex;
}

#imagelink{
    border-radius:10%;
    /* margin: 15%;
    padding: 4%;
     */
}

#image1{
   
    border-radius: 10%;
    box-shadow: 10px 10px 10px 0 grey;
    
}

#image2{
   
    border-radius: 15%;
    box-shadow: 10px 10px 10px 0 grey;
    /* padding: 4%;
    margin: 15%; */
}


#image3{
    
   
    border-radius: 15%;
    box-shadow: 10px 10px 10px 0 grey;
    /* padding: 4%;
    margin: 15%; */
}


#image4{
  
   
    border-radius: 15%;
    
    box-shadow: 10px 10px 10px 0 grey;
    /* padding: 4%;
    margin: 15%; */
}

#ltd{
    display: flex;
    justify-content: center;
    margin:0%
    
}

#cityname{

    
    width :400px;
    background-color:  #f1f1f1;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    outline: none;
}


#visit{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}


/* Parent Container */
.imagecontainer{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
   }
   
   /* Child Text Container */
   .imagecontainer div{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 35%;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .imagecontainer:hover{
    cursor: pointer;
   }
   
   .imagecontainer:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }